body{
    margin: 0;
}

html{
    line-height: 2rem;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
    background-color: white;
}

.header{
    text-align: center;
    margin: auto;
    padding: 0;
    background-color: grey; 
  
}

.header_logo{
    width: 90px;
    height: auto;
}

.header_nav{
    background-color: grey;
    display: none;
}     

.header_nav.show{
    display: block;
}

ul{
    margin:0;
}

#hamburguer{
    background-color: white;
    color: black;
    display: block;
    text-align: center;
    padding: 3px;
    cursor: pointer;
    font-size: 30px;
}

.header_nav ul{
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 10px;   
}

.header_nav a{
    color: black;

    text-decoration: none;
    display: block;
    padding: 10px;
}

.header_nav a:hover{
    background-color: color-mix(in srgb,  #b695c0 green 50%);
}

section{
    display: block;
}


.foto{
    margin-left: 40px;
    margin-top: 40px;
    width: 12.5em;
    height: 12.5em;
}

#img_circular {
    margin-top: 20px;
    border:   1em;
    border-radius: 2em;
    float: left;
    display: inline-block;
}

#Sobre_Mim{
    
    font-family: 'Roboto';
    font-weight: bold;
     
}

#Sobre_Mim h1 {
    margin-top: 10px;
    text-shadow: 4px 4px #b695c0;
    font-size: 90px;
    text-align: center;
}

#Sobre_Mim h2 {
    text-shadow: 3px 3px #b695c0;
    font-size: 50px;
   text-align: center;
}

#Sobre_Mim h3 {
    margin-top: 20px;
    font-size: 19px;
   text-align: center;
}

footer{
    background-color:  grey; 
    align-items: center;
    padding: 0.5rem;
    margin: auto;
    padding: 5px 0 5px;
    position: fixed;
    width: 100%;
    bottom: 0;

}


.logos_footer{
    display: block;
    flex-direction:row;
    gap: 1rem;
    text-align: center;
    justify-content: center;  
}


.tamanho{
    width: 2rem;
    margin-top: 15px;
    padding: 1%;
}


.texto_footer{
    font-size: 10px;
    text-transform: uppercase;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.15rem;
    margin: 0;
    padding-top: 0.5rem;
    color:  black;
    text-align: center;
}


@media screen and (min-width: 768px){
    #hamburguer{
        display: none;
    }
    
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:  grey; 
    }

    .header_logo{
        margin-left: 5px;
    }

    .header_nav{
        display: block;
    }

    .header_nav ul{
        margin-right: 5px;
        font-size: 10px;
    }

    .header_nav li{
        display: inline-block;
    }

    .header_nav a{
        border-radius: 5px;
        display: block;
    }
    .header_nav a:hover{
        background-color:  #b695c0;
        color: black;
    }
    .logos_footer{
        display: flex;
        text-align: center;
    }

    .texto_footer{
        text-align: center;
    }
}